<h1 mat-dialog-title>User: {{data.uid}} </h1>
<div mat-dialog-content>
    <mat-list role="list">
        <mat-list-item role="listitem">CN: {{data.cn}}</mat-list-item>
        <mat-list-item role="listitem">Apellido1: {{data.apellido1}}</mat-list-item>
        <mat-list-item role="listitem">Apellido2: {{data.apellido2}}</mat-list-item>
        <mat-list-item role="listitem">Nif: {{data.nif}}</mat-list-item>
        <mat-list-item role="listitem">CepsaUserEmail: {{data.cepsaUserEmail}}</mat-list-item>
        <mat-list-item role="listitem">CepsaWebMemberOf: {{data.cepsaWebMemberOf}}</mat-list-item>
        <mat-list-item role="listitem">UserSecurity: {{data.userSecurity}}</mat-list-item>
        <mat-list-item role="listitem">CepsaWebProperty: {{data.cepsaWebProperty}}</mat-list-item>
        <mat-list-item role="listitem">CepsaEmployeeType: {{data.cepsaEmployeeType}}</mat-list-item>
        <mat-checkbox
          [(ngModel)]="checked">
        I'm Happy?
      </mat-checkbox>
    </mat-list>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onClose()">Close</button>
</div>