table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.filter-button .mat-button{
    background-color: #3f51b5;
    color: white;
    margin-left: 1%;
}

.user-card-table{
    margin-top: 30px;
}