<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <form [formGroup]="filterForm">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Filters</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table cellspacing="0">
              <tr>
                <td>
                  <mat-form-field appearance="fill">
                    <mat-label>UID</mat-label>
                    <input matInput formControlName="uid">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field appearance="fill">
                    <mat-label>NIF</mat-label>
                    <input matInput formControlName="nif">
                  </mat-form-field>
                </td>

                <td>
                  <mat-form-field appearance="fill">
                    <mat-label>CN</mat-label>
                    <input matInput formControlName="cn">
                  </mat-form-field>
                </td>
              </tr>

            </table>
          </mat-card-content>

          <mat-card-actions class="filter-button">
            <button mat-button (click)="search()"> Search</button>
          </mat-card-actions>
        </mat-card>
      </form>

      <mat-card-content *ngIf="displayTable" class="user-card-table">
        <h2>Users</h2>

        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Position Column -->
          <ng-container matColumnDef="uid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> UID </th>
            <td mat-cell *matCellDef="let element"> {{element.uid}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="nif">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nif </th>
            <td mat-cell *matCellDef="let element"> {{element.nif}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.cn}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
            <td mat-cell *matCellDef="let element"> {{element.cepsaUserEmail}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></tr>
        </table>

      </mat-card-content>
    </mat-card>

  </div>
</div>